html, body {
	height: 100%;
}
body {
	background-color: #FFFFFF;
	min-height: 100%;
}
.search-container {
	right: 2%;
	left: 50%;
}

section.button-group {
  	height: 30px;
  	padding-top: 10px;
}
.btn-group {
  	margin: 0 auto;
  	text-align: center;
}

.btn{
	border:1px solid #d1dcdf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:15px;
	font-family:arial, helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	text-decoration:none;
	display:inline-block;
	color: #D94436;
	background-color: #f2f5f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
	background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.btn:hover{
	border:1px solid #b6c7cc;
	background-color: #d4dee1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
	background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

.btn.btn_complete {
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, #5CE06D, #478C3F);
}
.btn.btn_complete:hover {
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, #4FCB6C, #2E713F);
}
.btn.btn-s {
	padding: 6px 10px 8px 10px;
}

.wrap { width: 100%; margin-top: 5px; }
.pull-left { float: left; }
.pull-right { float: right; }
.clear { clear: both; }
.wrap > .italic { padding-top: 0.4em; float: left; }

.desc-column { display: inline-block; }
span.location { font-size: 0.7em; }
ul.show-hide > li > div.desc-column > p.desc {
	font-size: 0.95em;
	max-height: 3.6em;
}
.disable.hide {
	display: none;
}

/* Tab Menu */
.tabs { padding-top: 10px; }
#centered-menu {
   float:left;
   width:100%;
   background:#fff;
   overflow:hidden;
   position:relative;
}
#centered-menu ul {
  display: inline-block;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centered-menu ul li {
  width:255px;
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

#centered-menu ul li#completed a,
#centered-menu ul li#uncompleted a,
#centered-menu ul li#map a,
#centered-menu ul li#list a { /* Added this for rounded edges tabs */
   border:2px solid #4FC3F7;
   display:block;
   padding:3px 10px;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}

#centered-menu ul li#completed a,
#centered-menu ul li#list a{
  border-right:0px;
  border-radius: 10px 0px 0px 10px;
}

#centered-menu ul li#uncompleted a,
#centered-menu ul li#map a{
  border-left:0px;
  border-radius: 0px 10px 10px 0px;
}

#centered-menu ul li a:hover {
   color:#fff;
}
#centered-menu ul li a.active,
#centered-menu ul li a.active:hover {
   color:#fff !important;
   background:#4FC3F7;

}

/* End tab menu */

@media only screen and (max-width: 767px) {
	.search-container {
		left: 25%;
		right: 22%;
	}
}

@media only screen and (max-width: 460px) {
	.search-container { left: 23%; }
}
