.search-container {
	right: 2%;
	left: 50%;
	/*@media screen and (orientation: landscape;) {*/	
}

section.button-group {
  	height: 30px;
  	padding-top: 10px;
}
.btn-group {
  	margin: 0 auto;
  	text-align: center;
}

.btn{
	border:1px solid #d1dcdf; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:12px;
	font-family:arial, helvetica, sans-serif; 
	padding: 10px 10px 10px 10px; 
	text-decoration:none; 
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; 
	color: #D94436;
	background-color: #f2f5f6; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
	background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
	background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.btn:hover{
	border:1px solid #b6c7cc;
	background-color: #d4dee1; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
	background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
	background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

.btn.btn_complete {
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, #96FFAF, #7AB889);
}
.btn.btn_complete:hover {
	color: #FFFFFF;
	background-image: linear-gradient(to bottom, #5CE06D, #478C3F);
}
.btn.btn-s {
	padding: 5px 10px 5px 10px;
}

.wrap { width: 100%; }
.pull-left { float: left; }
.pull-right { float: right; }
.clear { clear: both; }
.wrap > .italic { padding-top: 0.4em; float: left; }

/*@media only screen and (min-width: 450px) and (max-width: 767px) {*/
@media only screen and (max-width: 767px) {
	.search-container {
		left: 25%;
		right: 22%;
	}
}

@media only screen and (max-width: 460px) {
	.search-container { left: 23%; }
}